.banner {
  margin: 0 4rem;
  position: relative;
  margin-bottom: 4rem;
  border-radius: 1.5625rem;
  height: 13.9375rem;
  background: url("../../assets/BannerHome.jpeg") center/cover;

  &__about {
    margin: 0 4rem;
    position: relative;
    margin-bottom: 4rem;
    border-radius: 1.5625rem;
    height: 13.9375rem;
    background: url("../../assets/Banner.jpeg") center/cover;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    object-fit: cover;
  }
  &__containerTitle {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1.5625rem;
    height: 13.9375rem;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__title {
    font-size: 2rem;
    font-weight: 500;
    left: 50%;
    line-height: 142.6%;
    margin: 0;
    position: absolute;
    text-align: center;
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
  }
}
