.card {
  &__container {
    background-color: hsla(60, 3%, 88%, 0.541);
    border-radius: 1.5625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  &__link {
    margin-bottom: 2rem;
    position: relative;
  }
  &__img {
    border-radius: 0.625rem;
    height: 21.25rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 21.25rem;
  }
  &__galerie {
    background: linear-gradient(185deg, transparent 70%, rgba(0, 0, 0, 0.5));
    border-radius: 0.625rem;
    bottom: 2.15rem;
    height: 21.25rem;
    position: absolute;
    width: 21.25rem;
  }
  &__title {
    bottom: 1.5rem;
    color: $white;
    font-size: 1.125rem;
    font-weight: 500;
    height: 3.25rem;
    left: 1rem;
    line-height: 142.6%;
    position: absolute;
    width: 18.75rem;
    margin: 1rem 0;
  }
}
